# auto detect line endings
* text=auto

# code with type metadata
*.js text diff=javascript
*.md text diff=markdown
*.json text diff=json
*.yaml text diff=yaml

# files without extensions
.editorconfig text
.gitattributes text
.gitignore text
.npmrc text
.nvmrc text
.prettierrc text
.eslintrc text
Makefile text
.man/mpak text

# don't diff these files
package-lock.json -diff
*.txt -diff
